In [1]:
#Range of Indexes
thislist=["apple","banana","cherry"]
if"apple" in thislist:
    print("Yes, 'apple in the fruits list')

SyntaxError: EOL while scanning string literal (1443711554.py, line 4)

In [6]:
thislist = ["apple", "banana", "cherry"]
thislist[1] ="blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [8]:
thislist = ["apple", "banana", "cherry","Orange","Mango"]
thislist[1:3] = ["blackcurrant","watermelon"]
print(thislist)
thislist = ["apple", "banana", "cherry","Orange","Mango","Tomato","Luci"]
thislist[1:3] = ["blackcurrant","watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'Orange', 'Mango']
['apple', 'blackcurrant', 'watermelon', 'Orange', 'Mango', 'Tomato', 'Luci']

In [12]:
#insert
thislist = ["apple", "banana", "cherry","Orange","Mango"]
thislist.insert(2,"banana")
print(thislist)
thislist = ["apple", "banana", "cherry","Orange","Mango"]
thislist.insert(3,"banana")
print(thislist)

['apple', 'banana', 'banana', 'cherry', 'Orange', 'Mango']
['apple', 'banana', 'cherry', 'banana', 'Orange', 'Mango']

In [14]:
# Append items
thislist = ["apple", "banana", "cherry","Orange","Mango"]
thislist.apend(1,"banana")
print(thislist)

AttributeError: 'list' object has no attribute 'apend'

In [16]:
#extend
thislist = ["apple", "banana", "cherry","Orange","Mango"]
tropical=["mango","pineapple","papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'Orange', 'Mango', 'mango', 'pineapple', 'papaya']

In [17]:
thislist = ["apple", "banana", "cherry","Orange","Mango"]
tropical=["kiwi","pineapple","papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'Orange', 'Mango', 'kiwi', 'pineapple', 'papaya']

In [18]:
#Remove Specified Index
thislist=["apple","banana","cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [21]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [23]:
thislist = ["orange", "apple", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['apple', 'banana', 'kiwi', 'orange', 'pineapple']

In [24]:
thislist = ["orange", "apple", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'kiwi', 'banana', 'apple']

In [25]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [27]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [29]:
thislist = ["apple", "banana", "cherry","Mango"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry', 'Mango']

In [30]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [32]:
list1=["a","b","s","f"]
list2=["1","2","4"]
listall=list1+list2
print(listall)

['a', 'b', 's', 'f', '1', '2', '4']

In [33]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [34]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [36]:
tupleis=("apple",)
print(type(tupleis))
tupleis=("apple")#this is without comma,therefore its string
print(type(tupleis))

<class 'tuple'>
<class 'str'>

In [39]:
#tuple data type
tuple1 = ("apple", "4", "cherry","true")
print(type(tuple1))
print(tuple1)

<class 'tuple'>
('apple', '4', 'cherry', 'true')

In [40]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [44]:
thistuple=("apple","mango")
print(thistuple[1])
thistuple=("apple","mango","papaya")
print(thistuple[-2])

mango
mango

In [49]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[1:7])

('banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [50]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[1:9])

('banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [52]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:3])

('apple', 'banana', 'cherry')

In [53]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[3:])

('orange', 'kiwi', 'melon', 'mango')

In [58]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-2:-2])# it is emty

()

In [60]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [63]:
thistuple = ("apple", "banana", "cherry")
y =("Orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'Orange')

In [66]:
fruits = ("apple", "banana", "cherry")
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)
print(fruits)

apple
banana
cherry
('apple', 'banana', 'cherry')

In [67]:
fruits = ("apple", "banana", "cherry")
(green,yellow,*red)=fruits
print(green)
print(yellow)
print(red)
print(fruits)

apple
banana
['cherry']
('apple', 'banana', 'cherry')

In [68]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [72]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 4
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [73]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [74]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [77]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'apple', 'cherry', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

In [80]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
for x in thisset:
print(x)

IndentationError: expected an indented block (2594034029.py, line 4)

In [82]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)
print("kiwi" in thisset)

True
False

In [85]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)
thisset.add("kiwi")
print(thisset)

{'orange', 'apple', 'cherry', 'banana'}
{'cherry', 'banana', 'orange', 'apple', 'kiwi'}

In [86]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'mango', 'cherry', 'banana', 'papaya', 'apple', 'pineapple'}

In [87]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
tropical = {"pineapple", "mango", "papaya","papaya"}
thisset.update(tropical)
print(thisset)

{'apple', 'cherry', 'banana'}
{'mango', 'cherry', 'banana', 'papaya', 'apple', 'pineapple'}

In [89]:
thisset = {"apple", "banana", "cherry"}#this is set
mylist = ["kiwi", "orange"]#this is list
thisset.update(mylist)#include  the my list item
print(thisset)

{'cherry', 'banana', 'orange', 'apple', 'kiwi'}

In [90]:
#Join Two Sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 'b', 'c', 2, 3, 'a'}

In [91]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [92]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'cherry', 'banana', 'google', 'microsoft'}

In [93]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 'b', 'c', 2, 3, 'a'}

In [96]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'cherry', 'banana', 'google', 'microsoft'}